node_modules/
coverage/
.nyc_output/
npm-debug.log
bla.sh
log.txt
dist/
old/
test/data/bla.log
.idea
query.js
apidoc/
.vscode/
/nbproject/private/
docs/
src/
test/
tslint.json
tsconfig.json
.editorconfig
.nycrc
